{% extends 'base.html.twig' %}

{% block body %}

    <main class="main">
        <div class="starter-template js-commercial"
             data-link="{{ link.source }}"
             data-image="/commercial/{{ image }}"
        >
            <p>After
                <span class="js-seconds">5</span>
                seconds you redirect to target link
            </p>
            <img src=""
                 alt="">
        </div>
    </main>

{% endblock %}

{% block title %}

{% endblock %}

