<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Do redirected{% endblock %}</title>
    </head>
    <body>
        Please wait...
        <script src="{{ asset('build/vendors~app~fingerprint.js') }}"></script>
        <script src="{{ asset('build/fingerprint.js') }}"></script>
    </body>
</html>

